In [19]:
import pandas as pd
import gensim

In [5]:
df = pd.read_json("tweetsamples.json", lines = True)
df.head()

,in_reply_to_status_id,contributors,filter_level,coordinates,id_str,favorited,created_at,favorite_count,in_reply_to_status_id_str,retweeted_status,...,in_reply_to_user_id_str,lang,retweet_count,timestamp_ms,user,geo,possibly_sensitive,entities,source,extended_entities
0,NaN,NaN,low,None,593891099434983424,False,2015-04-30 21:34:06+00:00,0,NaN,"{'in_reply_to_status_id': None, 'contributors'...",...,NaN,en,0,2015-04-30 21:34:06.725,"{'statuses_count': 74617, 'id_str': '107794703...",None,False,"{'symbols': [], 'trends': [], 'user_mentions':...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NaN
1,NaN,NaN,low,None,593891099548094464,False,2015-04-30 21:34:06+00:00,0,NaN,NaN,...,NaN,en,0,2015-04-30 21:34:06.752,"{'statuses_count': 126843, 'id_str': '55742250...",None,False,"{'symbols': [], 'trends': [], 'user_mentions':...","<a href=""http://dlvr.it"" rel=""nofollow"">dlvr.i...",NaN
2,NaN,NaN,low,None,593891099388846080,False,2015-04-30 21:34:06+00:00,0,NaN,"{'in_reply_to_status_id': None, 'contributors'...",...,NaN,en,0,2015-04-30 21:34:06.714,"{'statuses_count': 4571, 'id_str': '3006692193...",None,False,"{'media': [{'type': 'photo', 'source_status_id...","<a href=""http://twitter.com/download/android"" ...","{'media': [{'type': 'photo', 'source_status_id..."
3,NaN,NaN,low,None,593891100429045760,False,2015-04-30 21:34:06+00:00,0,NaN,"{'in_reply_to_status_id': None, 'contributors'...",...,NaN,en,0,2015-04-30 21:34:06.962,"{'statuses_count': 7119, 'id_str': '455154030'...",None,False,"{'media': [{'type': 'photo', 'source_status_id...","<a href=""http://twitter.com/download/iphone"" r...","{'media': [{'type': 'photo', 'source_status_id..."
4,NaN,NaN,low,None,593891100768784384,False,2015-04-30 21:34:07+00:00,0,NaN,"{'in_reply_to_status_id': None, 'contributors'...",...,NaN,en,0,2015-04-30 21:34:07.043,"{'statuses_count': 3543, 'id_str': '187547338'...",None,False,"{'media': [{'type': 'photo', 'source_status_id...","<a href=""http://tapbots.com/tweetbot"" rel=""nof...","{'media': [{'type': 'photo', 'source_status_id..."

In [12]:
df.text[0]

'RT @KirkKus: Indirect cost of the UK being in the EU is estimated to be costing Britain £170 billion per year! #BetterOffOut #UKIP'

In [13]:
data = df.text

In [14]:
data = data.str.replace(r'[^\w\s]+', '')

C:\Users\Patth\AppData\Local\Temp\ipykernel_3048\3011791584.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data = data.str.replace(r'[^\w\s]+', '')

In [16]:
data = data.str.replace("RT ", "")

In [23]:
preprocessed_data = data.apply(gensim.utils.simple_preprocess)
preprocessed_data

0        [kirkkus, indirect, cost, of, the, uk, being, ...
1               [video, sturgeon, on, postelection, deals]
2        [laboureoin, the, economy, was, growing, times...
3        [greglauder, the, ukip, east, lothian, candida...
4        [thesundaypeople, ukips, housing, spokesman, r...
                               ...
19995    [uklabour, ed_miliband, were, not, going, to, ...
19996    [disabledscot, blairmcdougall, scotlandtonight...
19997    [staircase, vividricky, exactly, but, that, al...
19998    [actually, agreed, with, of, what, farage, was...
19999    [peatworrier, vote, for, the, snp, is, er, vot...
Name: text, Length: 20000, dtype: object

In [38]:
model = gensim.models.Word2Vec(
    window = 10,
    min_count = 2,
    workers = 4, 
    vector_size=5
)

In [39]:
model.build_vocab(preprocessed_data, progress_per = 1000)

In [40]:
model.epochs

5

In [41]:
model.corpus_count

20000

In [42]:
model.train(preprocessed_data, total_examples=model.corpus_count, epochs = model.epochs)

(1366624, 1765885)

In [46]:
model.wv.most_similar("woman")
print(model.wv["man"])

[ 2.559797   6.035459   1.0900536 -4.2660894 -5.107238 ]

In [44]:
model.wv.similarity(w1 = "woman", w2 = "man")

0.45700106